<!DOCTYPE html>
@model JobModel
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <style>

      body {
        min-height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
      }
      .container {
            max-width: 800px;
           
            padding: 20px;
            border-radius: 8px;
            overflow: hidden;
      }
      label {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        margin-bottom: 8px;
      }

      input,
      textarea {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        margin-bottom: 16px;
      }

      button {
        display: inline-block;
        width: 45%;
        padding: 10px 0;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        margin-top: 10px;
      }

      button.cancel {
        background-color: #3498db;
      }

      button[type="submit"] {
        background-color: #3498db;
        color: #fff;
      }
      nav {
        background-color: #3498db;
        padding: 10px;
        text-align: left;
      }

      nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        display: inline-block;
        height: 1em;
      }
      .icon-container {
        font-size: 1.25em;
      }
     
    </style>
    <link href="~/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h2>Update Job Posting</h2>
    <div class="container">
      
       

            @using (Html.BeginForm("UpdateJobDetailsbyId", "Home", FormMethod.Post))
             {   <label for="jobTitle">Job Title:</label>
          @Html.TextBoxFor(x=>x.title, new {  required = "required" })
          @Html.HiddenFor(x=>x.departmentId)

          <label for="jobDescription">Job Description:</label>
          @Html.TextAreaFor(x=>x.description, new {  required = "required" })

          
                @Html.HiddenFor(x=>x.type)


          <label for="location">Location:</label>
                @Html.TextBoxFor(x=>x.location, new {  required = "required" })

          <label for="salary">Salary:</label>
                @Html.TextBoxFor(x=>x.salary, new {  required = "required" })

          <label for="positions">#Positions:</label>
            @Html.TextBoxFor(x=>x.positions, new {  required = "required" })

                <span>
          <button type="submit" onclick="cancel()">Update</button>
                <button type="button" class="cancel" onclick="location.href='@Url.Action("Index","Home")'">
            Cancel
          </button>
          </span>
        }
    
    </div>
  </body>
</html>